/* styles.css */
.border-text-blue {
  color: white;
  -webkit-text-stroke: 1px #3b82f6; /* For Webkit browsers like Chrome and Safari */
}

/* styles.css */
.hero-section {
  min-height: 100vh; /* Minimum height to fill the viewport */
  width: 100%; /* Full width */
  overflow-y: auto; /* Show scroll bar only when needed */
}




