/* Reset margin and padding for body and html */
body, html {
  margin: 0;
  padding: 0;
}

/* Snap scroll container styling */
.main-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

/* Right Image Styling */
.imageLeft {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10%;
  margin-bottom: 20px;
  column-gap: 100px;
}

.limage{
display: flex;
justify-content: center;
}

.rightText {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}



/* Add styles for TextrightContainer2 and TextrightContainer3 similarly */

/* Left Image Styling */
.imageRight {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10%;
  column-gap: 100px;
}

.rimage{
  display: flex;
  justify-content: center;
  flex-direction: column;
  }

.leftText {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* Add styles for TextleftContainer2 and TextleftContainer3 similarly */

/* Heading styling */
.h2 {
  color: #000000;
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 10px;
}

/* Paragraph styling */
p {
  color: #000000;
}

/* Transparent scrollbar */
.scrollcontainer::-webkit-scrollbar {
  width: 0px;
}

.scrollcontainer::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scrollcontainer::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Media Query for smaller screens */
@media (max-width: 1000px) {
  .imageLeft {
    flex-direction: column;
    padding: 10%;
  }

  .rightText {
    width: 100%;
  }

  .imageRight {
    flex-direction: column-reverse;
    padding: 10%;
  }

  .leftText {
    width: 100%;
  }
}


